# On Vercel use the actual HTTPS backend URL for both variables.
NEXT_PUBLIC_API_URL=http://localhost:3001
API_INTERNAL_URL=http://localhost:3001
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcsC-ItAAAAABAng4wNaPGuXxxoLm2d4CexkO5k


